.profile__subtitle {
    margin: 0;
    font-family: Inter, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    max-height: 18px;
    grid-column-start: 1;
    grid-column-end: 3;
}